/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>
/**
 * This is the tab showing the major fields for a server.
 */
export default {
  computed: {
    location () { return this.$store.state.location }
  },

  mounted () {
    this.$store.dispatch('location/load')
  },

  methods: {
    loc () {
      if (this.location.country) {
        if (this.location.continent) {
          return this.$t('/country.' + this.location.country) + '/' +
            this.$t('/continent.' + this.location.continent)
        } else {
          return this.$t('/country.' + this.location.country)
        }
      } else if (this.location.continent) {
        return this.$t('/continent.' + this.location.continent)
      }
      return ''
    }
  }
}
</script>
// ----------------------------------------------------------------------------
<template>
  <v-container v-if="location.anonymous">
    <v-row>
      <v-col>
        {{ $t('location.unknown') }}
      </v-col>
    </v-row>
  </v-container>

  <v-container v-else>
    <v-row>
      <v-col>
        <v-icon>
          mdi-bullseye-arrow
        </v-icon>
        {{ $t('location.ip-address') }}
      </v-col>
      <v-col>
        {{ location.ipAddress }}
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-icon>
          mdi-map-marker-outline
        </v-icon>
        {{ $t('location.location') }}
      </v-col>
      <v-col>
        {{ location.postal }}
        {{ location.city }}
      </v-col>
      <v-col>
        {{ loc() }}
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <img
          :src="'/countries/' + location.country + '.svg'"
          style="width: 2em"
        />
        {{ $t('/country.' + location.country) }}
      </v-col>
      <v-col v-if="location.candidatesInCountry">
        <p v-for="(a, i) in location.candidatesInCountry" :key="i">
          ...
        </p>
      </v-col>
      <v-col v-else>
        {{ $t('location.no-country') }}
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-icon>
          mdi-earth-box
        </v-icon>
        {{ $t('location.continent') }}
        {{ $t('/continent.' + location.continent) }}
      </v-col>
      <v-col>
        ...
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-icon>
          mdi-earth
        </v-icon>
        {{ $t('location.world') }}
      </v-col>
      <v-col>
        ...
      </v-col>
    </v-row>
  </v-container>
</template>
