/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>
import TrafficDisposerLogo from '@/components/images/TrafficDisposerLogo'

export default {
  components: {
    TrafficDisposerLogo
  }
}
</script>
//----------------------------------------------------------------------------
<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm10
      md8
      lg6
      xl4
    >
      <v-card class="pa-4 ma-4" min-width="12em">
        <v-card-title class="text-center">
          <v-row>
            <v-col>
              <traffic-disposer-logo width="10em" class="my-4" />
            </v-col>
          </v-row>
          <v-row class="headline text-center mb-4">
            <v-col>
              CTAN Traffic Disposer
            </v-col>
          </v-row>
        </v-card-title>
        <v-card-text>
          <div class="text-center">
            &copy; 2020 The CTAN team and individual authors
          </div>

          <div class="text-center">
            The individual parts of CTAN Traffic Disposer is distributed under the
            <nuxt-link to="/license">
              3-clause BSD license
            </nuxt-link>.
          </div>

          <div class="text-center">
            The CTAN Traffic Disposer utilizes a multitude of frameworks and
            libraries. They usually come with a license of their own.
          </div>

          <div class="text-center">
            CTAN is the <a href="https://ctan.org">
              Comprehensive T<span class="e">e</span>X Archive Network
            </a>.
          </div>
        </v-card-text>

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            class="text-center mx-1 px-8"
            @click="$router.back()"
          >
            <v-icon class="mr-1">
              mdi-arrow-left-circle-outline
            </v-icon>
            {{ $t('copyright.back') }}
          </v-btn>
          <v-spacer />
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
//----------------------------------------------------------------------------
<style>

.e,
.E {
        display: inline-block;
        font-size: 87%;
        line-height: 0;
        margin-right: -.01em;
        text-transform: uppercase;
        vertical-align: -.45ex;
}
.e {
        margin-left: -.2em;
        margin-right: -.1em;
}
</style>
