/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>
import CountriesTab from '@/components/stat/CountriesTab'
import LocationTab from '@/components/main/LocationTab'

export default {
  components: {
    CountriesTab,
    LocationTab
  },

  data () {
    return {
      tab: 0,
      tabs: ['location', 'age', 'countries'],
      tabIcon: {
        age: 'mdi-clock-outline',
        countries: 'mdi-earth',
        location: 'mdi-map-marker-outline'
      },
      idx: {
        age: '/age',
        countries: '/countries',
        location: '/'
      }
    }
  },

  head () {
    return {
      title: this.$t('server.' + this.tabs[this.tab] + '.title'),
      htmlAttrs: {
        lang: this.$i18n.locale
      }
    }
  }
}
</script>
//----------------------------------------------------------------------------
<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      style="width: 100%"
    >
      <v-tabs centered grow class="flex-grow-1 px-4 blade rounded">
        <v-tabs v-model="tab">
          <v-tab
            v-for="t in tabs"
            :key="t"
            :to="idx[t]"
          >
            <v-icon class="mr-2">
              {{ tabIcon[t] }}
            </v-icon>
            {{ $t('stat.tab.' + t) }}
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item value="/">
            <location-tab />
          </v-tab-item>

          <v-tab-item value="/age">
            age
          </v-tab-item>

            <v-tab-item value="/countries">
            <countries-tab />
          </v-tab-item>
        </v-tabs-items>
      </v-tabs>
    </v-flex>
  </v-layout>
</template>
