/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>
export default {
  head () {
    return {
      title: this.$t('license.title'),
      htmlAttrs: {
        lang: this.$i18n.locale
      }
    }
  }
}
</script>
//----------------------------------------------------------------------------
<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm10
      md8
      lg6
      xl4
    >
      <v-card class="pa-4 ma-4" min-width="12em">
        <v-card-title class="headline">
          BSD 3-Clause License for CTAN Traffic Disposer
        </v-card-title>
        <v-card-text>
          <p>
            Copyright (c) 2020, The CTAN Team and individual authors
            <br>
            All rights reserved.
          </p>
          <p>
            Redistribution and use in source and binary forms, with or without
            modification, are permitted provided that the following conditions
            are met:
          </p>
          <ul>
            <li>
              Redistributions of source code must retain the above copyright
              notice, this list of conditions and the following disclaimer.
            </li>
            <li>
              Redistributions in binary form must reproduce the above copyright
              notice, this list of conditions and the following disclaimer in
              the documentation and/or other materials provided with the
              distribution.
            </li>
            <li>
              Neither the name of the copyright holder nor the names of its
              contributors may be used to endorse or promote products derived
              from this software without specific prior written permission.
            </li>
          </ul>
          <p class="mt-4">
            THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
            “AS IS” AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
            LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
            FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
            COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
            INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
            (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
            SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
            HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
            STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
            ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
            OF THE POSSIBILITY OF SUCH DAMAGE.
          </p>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            class="text-center mx-1 px-8"
            @click="$router.back()"
          >
            <v-icon class="mr-1">
              mdi-arrow-left-circle-outline
            </v-icon>
            {{ $t('back') }}
          </v-btn>
          <v-spacer />
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
