/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>

export default {
  data () {
    return {
      account: '',
      passwd: '',
      loading: false,
      message: ''
    }
  },

  watch: {
    account () {
      this.message = ''
    },
    passwd () {
      this.message = ''
    }
  },

  methods: {
    login () {
      this.message = ''
      if (this.account === '' || this.passwd === '') {
        return
      }
      this.loading = true
      this.$store.dispatch('user/login', {
        account: this.account,
        passwd: this.passwd,
        callback: (state, code) => {
          if (code === 200) {
            this.$router.push('/server')
          } else {
            this.message = this.$t('login.failed')
          }
        }
      }).then((x) => {
        this.loading = false
      }).catch((e) => {
        this.message = e
      })
    }
  },

  head () {
    return {
      title: this.$t('login.title'),
      htmlAttrs: {
        lang: this.$i18n.locale
      }
    }
  }
}
</script>
//----------------------------------------------------------------------------
<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm10
      md8
    >
      <v-card class="pa-4 ma-4" min-width="24em">
        <v-card-title class="headline">
          <v-icon class="mr-2">
            mdi-shield-key-outline
          </v-icon>
          {{ $t('login.title') }}
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-text-field
              v-model="account"
              :label="$t('login.account')"
              :loading="loading"
              prepend-icon="mdi-account-outline"
              @keydown.esc="$router.back()"
              @keydown.enter="login()"
            />
          </v-row>
          <v-row>
            <v-text-field
              v-model="passwd"
              :label="$t('login.passwd')"
              :loading="loading"
              prepend-icon="mdi-key-outline"
              type="password"
              @keydown.esc="$router.back()"
              @keydown.enter="login()"
            />
          </v-row>
          <v-row color="red">
            {{ message }}
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="primary"
            :loading="loading"
            outlined
            class="mx-1"
            @click="$router.back()"
          >
            <v-icon class="mr-1">
              mdi-cancel
            </v-icon>
            {{ $t('login.cancel') }}
          </v-btn>
          <v-spacer />
          <v-btn
            color="primary"
            :disabled="account === '' || passwd === ''"
            :loading="loading"
            class="mx-1"
            @click="login()"
          >
            <v-icon class="mr-1">
              mdi-login
            </v-icon>
            {{ $t('login.submit') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
