/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>
import ContactsTab from '@/components/admin//ContactsTab'
import MonitorTab from '@/components/admin/MonitorTab'
import ProtocolsTab from '@/components/admin/ProtocolsTab'
import ServerTab from '@/components/admin/ServerTab'

export default {
  components: {
    ContactsTab,
    MonitorTab,
    ProtocolsTab,
    ServerTab
  },

  data () {
    return {
      addresses: [],
      contacts: [],
      id: this.$route.params.id,
      server: {
        name: '',
        status: '',
        country: '',
        notes: '',
        region: '',
        town: ''
      },
      loading: false,
      missing: false,
      missingText: '',
      tabIcon: {
        access: 'mdi-protocol',
        contacts: 'mdi-card-account-mail-outline',
        monitor: 'mdi-traffic-light',
        server: 'mdi-server'
      }
    }
  },

  computed: {
    countries () {
      return this.$store.state.country.all.map((cc) => {
        return { value: cc, text: this.$t('/country.' + cc) }
      })
    }
  },

  mounted () {
    const id = this.$route.params.id
    if (id === undefined) {
      return
    }
    this.loading = true
    this.$store.dispatch('server/load', id)
      .then(() => {
        this.server.id = id
        this.server.name = this.$store.state.server[id].name
        this.server.status = this.$store.state.server[id].status
        this.server.country = this.$store.state.server[id].country
        this.server.town = this.$store.state.server[id].town
        this.server.region = this.$store.state.server[id].region
        this.server.notes = this.$store.state.server[id].notes
        this.addresses = this.$store.state.server[id].addresses
        this.contacts = this.$store.state.server[id].contacts
      })
      .catch((e) => {
        this.missingText = this.$t('server.message.' + e.toString().substr(-3, 3))
        this.missing = true
      })
      .finally(() => {
        this.loading = false
      })
  },

  middleware: 'is-authenticated',

  methods: {
    /**
     *
     */
    addAddress () {
      this.$store.commit('server/addAddress', this.id)
    },

    /**
     *
     */
    addContact () {
      this.$store.commit('server/addContact', this.id)
    },

    /**
    *
    */
    deleteAddress (id) {
      this.$store.commit('server/deleteAddress', {
        sid: this.id,
        id
      })
    },

    /**
     *
     */
    deleteContact (id) {
      this.$store.commit('server/deleteContact', {
        sid: this.id,
        id
      })
    }
  },

  head () {
    return {
      title: this.$t('server.title'),
      htmlAttrs: {
        lang: this.$i18n.locale
      }
    }
  }
}
</script>
// ----------------------------------------------------------------------------
<template>
  <v-form class="blade">
    <v-alert
      v-model="missing"
      type="error"
    >
      {{ missingText }}
    </v-alert>

    <v-tabs v-if="!loading && !missing">
      <v-tab
        v-for="k in ['server', 'access', 'contacts', 'monitor']"
        :key="k"
        :href="'#' + k"
      >
        <v-icon class="mr-2">
          {{ tabIcon[k] }}
        </v-icon>
        {{ $t('server.tab.' + k) }}
      </v-tab>

      <v-tab-item key="server" value="server">
        <server-tab
          v-model="server"
        />
      </v-tab-item>

      <v-tab-item key="access" value="access">
        <protocols-tab
          v-model="addresses"
          :name="server.name"
          @add="addAddress"
          @delete="deleteAddress"
        />
      </v-tab-item>

      <v-tab-item key="contacts" value="contacts">
        <contacts-tab
          v-model="contacts"
          :name="server.name"
          @add="addContact"
          @delete="deleteContact"
        />
      </v-tab-item>

      <v-tab-item key="monitor" value="monitor">
        <monitor-tab
          :id="id"
        />
      </v-tab-item>
    </v-tabs>
  </v-form>
</template>
