/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>
import CountryFlag from '@/components/table/CountryFlag'
import ServerStatus from '@/components/table/ServerStatus'
import InfiniteLoading from 'vue-infinite-loading'

/**
 *
 */
export default {
  components: {
    CountryFlag,
    InfiniteLoading,
    ServerStatus
  },

  data () {
    return {
      creating: false,
      error: false,
      filter: '',
      infiniteId: 1,
      items: [],
      loading: false,
      status: {
        MASTER: true,
        ACTIVE: true,
        INACTIVE: true,
        PARTIAL: true,
        WITHDRAWN: false
      },
      statusIcon: {
        ACTIVE: 'mdi-check-circle',
        INACTIVE: 'mdi-alpha-x-circle',
        PARTIAL: 'mdi-circle-slice-7',
        MASTER: 'mdi-mirror',
        WITHDRAWN: 'mdi-delete-circle'
      }
    }
  },

  computed: {
    allItems () {
      return this.$store.state.server.all
        .filter(m =>
          (m.status === 'ACTIVE' && this.status.ACTIVE) ||
          (m.status === 'INACTIVE' && this.status.INACTIVE) ||
          (m.status === 'MASTER' && this.status.MASTER) ||
          (m.status === 'PARTIAL' && this.status.PARTIAL) ||
          (m.status === 'WITHDRAWN' && this.status.WITHDRAWN)
        )
        .sort((a, b) => {
          const na = a.name
          const nb = b.name
          return (na < nb ? -1 : na > nb ? 1 : 0)
        })
    }
  },

  watch: {
    allItems () {
      this.items = []
      this.infiniteId++
    }
  },

  mounted () {
    this.loading = true
    this.$store.dispatch('server/loadAll')
      .then(() => {
        this.loading = false
      })
  },

  methods: {
    clickRow (item) {
      this.$router.push('/server/' + item.id)
    },

    extendItems ($state) {
      const start = this.items.length
      if (start >= this.allItems.length) {
        $state.complete()
        return
      }

      const PAGE_SIZE = 24
      for (let i = start;
        i < start + PAGE_SIZE && i < this.allItems.length;
        i++) {
        this.items.push(this.allItems[i])
      }
      $state.loaded()
    }
  },

  middleware: 'is-authenticated',

  head () {
    return {
      title: this.$t('server.list.title')
    }
  }
}
</script>
// ----------------------------------------------------------------------------
<template>
  <v-layout>
    <v-flex>
      <v-row class="align-center blade rounded-t">
        <v-icon class="mr-2">
          mdi-filter
        </v-icon>
        <v-text-field
          v-model="filter"
          append-icon="mdi-magnify"
          :label="$t('#.filter')"
          :loading="loading"
          clearable
          class="mr-4"
        />

        <v-btn color="primary" outlined class="px-4" @click="creating = true">
          <v-icon class="mr-2">
            mdi-plus-circle-outline
          </v-icon>
          {{ $t('#.new') }}
        </v-btn>
      </v-row>

      <v-row v-if="!loading" class="blade">
        <v-tooltip
          v-for="st in ['MASTER', 'ACTIVE', 'INACTIVE', 'PARTIAL', 'WITHDRAWN']"
          :key="st"
          bottom
        >
          <template v-slot:activator="{ on }">
            <v-switch
              v-model="status[st]"
              :prepend-icon="statusIcon[st]"
              class="mr-4"
              v-on="on"
            />
          </template>
          {{ $t('/status.' + st) }}
        </v-tooltip>
      </v-row>

      <v-data-table
        class="data-table blade rounded-b py-2"
        :disable-pagination="true"
        :headers="[
          { text: $t('server.list.status'),
            value: 'status',
            align: 'center',
            width: '4em'
          },
          { text: $t('server.list.name'),
            value: 'name'
          },
          { text: $t('server.list.segment'),
            value: 'segment'
          },
          { text: $t('server.list.country'),
            value: 'country',
            align: 'center',
            width: '4em'
          }
        ]"
        :hide-default-footer="true"
        :items="items"
        :loading="loading"
        :loading-text="$t('#.loading-text')"
        :no-data-text="$t('#.no-data-text')"
        :no-results-text="$t('#.no-results-text')"
        :search="filter"
        dense
        @click:row="clickRow"
      >
        <template v-slot:item.country="{ item }">
          <country-flag :code="item.country" />
        </template>

        <template v-slot:item.segment="{ item }">
          {{ $t('/segment.' + item.segment) }}
        </template>

        <template v-slot:item.status="{ item }">
          <server-status :value="item.status" />
        </template>
      </v-data-table>

      <div style="min-height: 8ex" />

      <infinite-loading
        v-if="allItems.length"
        ref="infiniteLoading"
        spinner="spiral"
        :distance="500"
        :identifier="infiniteId"
        @infinite="extendItems"
      >
        <div slot="no-more" />
        <div slot="no-results" />
      </infinite-loading>
    </v-flex>

    <create-dialog v-model="creating" />
  </v-layout>
</template>
//----------------------------------------------------------------------------
<style>
.data-table {
  border-bottom: 2pt solid #ddd;
  border-top: 2pt solid #ddd;
}
</style>
