
@font-face {
    font-family: 'opensans';
    src: url('/fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('/fonts/opensans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('/fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
         url('/fonts/opensans/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('/fonts/opensans/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/opensans/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'opensans';
    src: url('/fonts/opensans/opensans-extrabold-webfont.woff2') format('woff2'),
         url('/fonts/opensans/opensans-extrabold-webfont.woff') format('woff');
    font-weight: extrabold;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('/fonts/opensans/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('/fonts/opensans/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: extrabold;
    font-style: italic;
}
@font-face {
    font-family: 'opensans';
    src: url('/fonts/opensans/opensans-italic-webfont.woff2') format('woff2'),
         url('/fonts/opensans/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'opensans';
    src: url('/fonts/opensans/opensans-light-webfont.woff2') format('woff2'),
         url('/fonts/opensans/opensans-light-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('/fonts/opensans/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('/fonts/opensans/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: light;
    font-style: italic;
}
@font-face {
    font-family: 'opensans';
    src: url('/fonts/opensans/opensans-semibold-webfont.woff2') format('woff2'),
         url('/fonts/opensans/opensans-semibold-webfont.woff') format('woff');
    font-weight: semibold;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('/fonts/opensans/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('/fonts/opensans/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: semibold;
    font-style: italic;
}
