/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>
import ContactsTab from '@/components/admin/ContactsTab'
import ProtocolsTab from '@/components/admin/ProtocolsTab'
import ServerTab from '@/components/admin/ServerTab'

/**
 *
 */
export default {
  components: {
    ContactsTab,
    ProtocolsTab,
    ServerTab
  },

  props: {
    value: { type: Boolean, default: false }
  },

  data () {
    return {
      server: {
        name: '',
        status: 'INACTIVE',
        country: '',
        region: '',
        city: '',
        notes: '',
        protocols: [],
        contacts: []
      },
      seq: -1
    }
  },

  methods: {
    addContact () {
      this.server.contacts.push({
        id: this.seq--,
        name: '',
        email: '',
        status: 'ACTIVE',
        dateAdded: new Date(),
        dateRemoved: undefined,
        notes: ''
      })
    },

    addProtocol () {
      this.server.protocols.push({
        id: this.seq--,
        protocol: 'HTTPS',
        path: '',
        status: 'ACTIVE',
        dateAdded: new Date(),
        dateRemoved: undefined,
        notes: ''
      })
    },

    close () {
      this.$emit('input', false)
    },

    deleteContact (id) {
      for (let i = this.server.contacts.length - 1; i >= 0; i--) {
        if (this.server.contacts[i].id === id) {
          this.server.contacts.splice(i, 1)
          return
        }
      }
    },

    deleteProtocol (id) {
      for (let i = this.server.protocols.length - 1; i >= 0; i--) {
        if (this.server.protocols[i].id === id) {
          this.server.protocols.splice(i, 1)
          return
        }
      }
    },

    save () {
      this.value = false
    }
  }
}
</script>
// ----------------------------------------------------------------------------
<template>
  <v-dialog
    v-model="value"
    @keydown.escape="close"
  >
    <v-toolbar dense dark color="primary" class="headline">
      <v-icon large class="mr-2">
        mdi-mirror
      </v-icon>
      {{ $t('create.title') }}
      <v-spacer />
      <v-tooltip bottom light>
        <template v-slot:activator="{ on }">
          <v-btn icon @click="close">
            <v-icon v-on="on">
              mdi-window-close
            </v-icon>
          </v-btn>
        </template>
        {{ $t('!.close-window') }}
      </v-tooltip>
    </v-toolbar>

    <v-card>
      <v-card-text>
        <server-tab
          v-model="server"
        />
        <protocols-tab
          v-model="server.protocols"
          :name="$t('create.protocols')"
          @add="addProtocol"
          @delete="deleteProtocol"
        />
        <contacts-tab
          v-model="server.contacts"
          :name="$t('create.contacts')"
          @add="addContact"
          @delete="deleteContact"
        />
      </v-card-text>

      <v-card-actions class="mx-6">
        <v-btn
          color="primary"
          text
          outlined
          class="px-4"
          @click="close"
        >
          <v-icon class="mr-2">
            mdi-cancel
          </v-icon>
          {{ $t('create.abort') }}
        </v-btn>

        <v-spacer />

        <v-btn
          color="primary"
          dark
          class="px-4"
          @click="save()"
        >
          <v-icon class="mr-2">
            mdi-content-save-outline
          </v-icon>
          {{ $t('create.save') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
