/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>

export default {
  props: {
    id: { type: String, default: '' }
  },
  data () {
    return {
      valid: false,
      statusColor: {
        ACTIVE: 'green',
        INACTIVE: 'red',
        MASTER: 'primary',
        PARTIAL: 'orange',
        WITHDRWAN: 'gray'
      },
      statusIcon: {
        ACTIVE: 'mdi-check-circle',
        INACTIVE: 'mdi-checkbox-blank-circle',
        MASTER: 'mdi-server',
        PARTIAL: 'mdi-check-circle-outline',
        WITHDRAWN: 'mdi-close-circle'
      }
    }
  }
}
</script>
// ----------------------------------------------------------------------------
<template>
  <v-container>
    <v-row>
      <v-col class="headline">
        {{ $store.state.server[id].name }}
      </v-col>
    </v-row>
  </v-container>
</template>
