/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>

/**
 *
 */
export default {
  props: {
    name: { type: String, default: '' },
    value: { type: Array, default () { return [] } }
  },

  data () {
    return {
      loading: false,
      valid: false,
      statusColor: {
        ACTIVE: 'green',
        INACTIVE: 'red',
        MASTER: 'primary',
        PARTIAL: 'orange',
        WITHDRWAN: 'gray'
      },
      statusIcon: {
        ACTIVE: 'mdi-check-circle',
        INACTIVE: 'mdi-checkbox-blank-circle',
        MASTER: 'mdi-server',
        PARTIAL: 'mdi-check-circle-outline',
        WITHDRAWN: 'mdi-close-circle'
      }
    }
  },

  methods: {
    add () {
      // console.log('++++')
    }
  }
}
</script>
// ----------------------------------------------------------------------------
<template>
  <v-container>
    <v-row>
      <v-col class="headline">
        <v-icon large class="mr-2">
          mdi-protocol
        </v-icon>
        {{ name }}
      </v-col>

      <v-col cols="2">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn large v-on="on" @click="$emit('add')">
              <v-icon>
                mdi-plus-circle
              </v-icon>
            </v-btn>
          </template>
          {{ $t('protocols.!.add') }}
        </v-tooltip>
      </v-col>
    </v-row>

    <v-row>
      <v-expansion-panels focusable>
        <v-expansion-panel
          v-for="(item, i) in value"
          :key="i"
        >
          <v-expansion-panel-header>
            <span>
              <v-icon cols="1" :color="statusColor[value[i].status]">
                {{ statusIcon[value[i].status] }}
              </v-icon>
              {{ value[i].protocol }}
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-row>
              <v-col cols="2">
                <v-select
                  v-model="value[i].protocol"
                  :loading="loading"
                  :label="$t('protocols.protocol')"
                  :items="[{text: 'https', value: 'HTTPS'},
                           {text: 'http', value: 'HTTP'},
                           {text: 'ftp', value: 'FTP'},
                           {text: 'sftp', value: 'SFTP'},
                           {text: 'rsync', value: 'RSYNC'}]"
                  prepend-icon="mdi-protocol"
                />
              </v-col>
              <v-col>
                <v-text-field
                  v-model="value[i].path"
                  :loading="loading"
                  :counter="128"
                  :label="$t('protocols.path')"
                  prepend-icon="mdi-folder-outline"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="2">
                <v-select
                  v-model="value[i].status"
                  :loading="loading"
                  :items="[{ text: $t('/status.ACTIVE'),
                             value: 'ACTIVE'
                           },
                           { text: $t('/status.INACTIVE'),
                             value: 'INACTIVE'
                           },
                           { text: $t('/status.WITHDRAWN'),
                             value: 'WITHDRAWN'
                           }]"
                  :label="$t('protocols.status')"
                  :prepend-icon="statusIcon[value[i].status]"
                />
              </v-col>
              <v-col cols="3">
                <v-text-field
                  v-model="value[i].dateAdded"
                  :loading="loading"
                  :disabled="true"
                  :label="$t('protocols.added')"
                  prepend-icon="mdi-calendar-plus"
                />
              </v-col>
              <v-col
                v-if="value[i].dateRemoved"
                cols="3"
              >
                <v-text-field
                  v-model="value[i].dateRemoved"
                  :loading="loading"
                  :disabled="true"
                  :label="$t('protocols.remove')"
                />
              </v-col>
              <v-spacer />
              <v-col cols="3">
                <v-btn
                  width="2em"
                  class="mr-4"
                  @click="$emit('delete', value[i].id)"
                >
                  <v-icon>
                    mdi-delete
                  </v-icon>
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-textarea
                  v-model="value[i].notes"
                  :loading="loading"
                  :counter="4096"
                  :label="$t('protocols.notes')"
                  prepend-icon="mdi-comment-outline"
                />
              </v-col>
            </v-row>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-row>
  </v-container>
</template>
