/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>
import ServerStatus from '@/components/table/ServerStatus'

/**
 * This is the tab showing the major fields for a server.
 */
export default {
  components: {
    ServerStatus
  },

  props: {
    value: { type: Object, default () { return {} } }
  },

  data () {
    return {
      valid: false,
      tabIcon: {
        access: 'mdi-label-multiple-outline',
        contacts: 'mdi-contacts-outline',
        monitor: 'mdi-traffic-light',
        server: 'mdi-server'
      }
    }
  },

  computed: {
    countries () {
      return this.$store.state.country.all.map((cc) => {
        return { value: cc, text: this.$t('/country.' + cc) }
      })
    },

    dirty () {
      const d = {}
      const fields = ['name', 'notes', 'region', 'status', 'town', 'country']

      fields.forEach((key) => {
        d[key] = (this.value[key] !== this.$store.state.server[this.value.id][key]
          ? '*'
          : '')
      })

      return d
    }
  },

  methods: {
    label (field) {
      return this.$t('server.' + field) +
        (this.value[field] !== this.$store.state.server[this.value.id][field]
          ? '*'
          : '')
    },

    changeField (field) {
      // console.log(field + ' -- ' + this.value[field])
      this.$store.dispatch('server/update',
        {
          id: this.value.id,
          key: field,
          value: this.value[field]
        })
    }
  }
}
</script>
// ----------------------------------------------------------------------------
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-text-field
          v-model="value.name"
          :counter="255"
          :label="this.$t('server.name') + dirty.name"
          required
          prepend-icon="mdi-hand-pointing-right"
          @change="changeField('name')"
        />
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="3">
        <v-select
          v-model="value.status"
          :items="[{ text: $t('/status.ACTIVE'),
                     value: 'ACTIVE'
                   },
                   { text: $t('/status.MASTER'),
                     value: 'MASTER'
                   },
                   { text: $t('/status.INACTIVE'),
                     value: 'INACTIVE'
                   },
                   { text: $t('/status.PARTIAL'),
                     value: 'PARTIAL'
                   },
                   { text: $t('/status.WITHDRAWN'),
                     value: 'WITHDRAWN'
                   }]"
          :label="this.$t('server.status') + dirty.status"
          prepend-icon="mdi-traffic-light"
        />
      </v-col>
      <v-col>
        <server-status :value="value.status" :large="true" />
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-autocomplete
          v-model="value.country"
          :label="this.$t('server.country') + dirty.country"
          :items="countries"
          prepend-icon="mdi-map-marker-outline"
        />
      </v-col>

      <v-col>
        <v-text-field
          v-model="value.town"
          :counter="255"
          :label="this.$t('server.town') + dirty.town"
          prepend-icon="mdi-city-variant-outline"
        />
      </v-col>

      <v-col>
        <v-text-field
          v-model="value.region"
          :counter="128"
          :label="this.$t('server.region') + dirty.region"
          prepend-icon="mdi-pin-outline"
        />
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-textarea
          v-model="value.notes"
          :counter="4096"
          :label="this.$t('server.notes') + dirty.notes"
          prepend-icon="mdi-comment-outline"
        />
      </v-col>
    </v-row>
  </v-container>
</template>
