/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>

/**
 * This component contains the list of all active servers organised by
 * continent and country.
 */
export default {
  data () {
    return {
      loading: false
    }
  },

  mounted () {
    this.loading = true
    this.$store.dispatch('stat/load')
      .finally(() => {
        this.loading = false
      })
  },
  methods: {
    getCountries (seg) {
      Object.keys(this.$store.state.stat.byCountry[seg]).sort()
    },

    countCountries (seg) {
      return Object.keys(this.$store.state.stat.byCountry[seg]).length
    },

    countServers (seg) {
      let cnt = 0
      const a = this.$store.state.stat.byCountry[seg]
      const keys = Object.keys(a)
      for (const x in keys) {
        cnt += a[keys[x]].active
      }
      return cnt
    }
  }
}
</script>
// ----------------------------------------------------------------------------
<template>
  <v-container>
    <v-expansion-panels>
      <v-expansion-panel
        v-for="(segment, i) in Object.keys($store.state.stat.byCountry).sort()"
        :key="i"
      >
        <v-expansion-panel-header color="#f5f5f5">
          <span>
            <v-icon>
              {{ segment !== '/' ? 'mdi-globe-model' : 'mdi-star-outline' }}
            </v-icon>
            {{ $t('/segment.' + segment) }}:
            {{ $tc('countries.count', countCountries(segment)) }},
            {{ $tc('countries.servers', countServers(segment)) }}
          </span>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-expansion-panels
            v-for="(country, j) in getCountries(segment)"
            :key="j"
          >
            <v-expansion-panel>
              <v-expansion-panel-header>
                <span>
                  <img :src="'/countries/' + country + '.svg'" class="country-flag">
                  {{ $t('/country.' + country) }}:
                  {{ $tc('countries.servers', $store.state.stat.byCountry[segment][country].active) }}
                </span>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <div
                  v-for="(server, k) in $store.state.stat.byCountry[segment][country].server"
                  :key="k"
                >
                  {{ server.name }}
                </div>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-container>
</template>
//----------------------------------------------------------------------------
<style>

.country-flag {
  border: 1pt solid #ddd;
  height: 1.5em;
}

</style>
