/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>

/**
 * This is the default layout for the Traffic Disposer. It describes how the
 * pages are structured.
 */
export default {
  data () {
    return {
      copyright: new Date().getFullYear()
    }
  },

  computed: {
    availableLocales () {
      return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale)
    },
    locale () {
      return this.$i18n.locale
    }
  },

  methods: {
    login () {
      this.$router.push('/login')
    },

    logout () {
      this.$store.dispatch('user/logout')
      this.$router.push('/')
    }
  }
}
</script>
// ----------------------------------------------------------------------------
<template>
  <v-app class="traffic-disposer pa-2">
    <v-app-bar
      fixed
      app
    >
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon @click="$router.push('/')" v-on="on">
            <v-icon>mdi-home</v-icon>
          </v-btn>
        </template>
        {{ $t('#.home') }}
      </v-tooltip>

      <v-spacer />

      <v-toolbar-title>
        CTAN Traffic Disposer
      </v-toolbar-title>

      <v-spacer />

      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <img
            v-bind="attrs"
            style="height:2ex; border: 1pt solid #e5e5e5"
            :src="'/lang/' + locale + '.svg'"
            v-on="on"
          >
          <v-icon>
            mdi-chevron-down
          </v-icon>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, i) in availableLocales"
            :key="i"
            @click="$i18n.setLocale(item.code)"
          >
            <v-list-item-title>
              <img
                style="height:1.5ex"
                :src="'/lang/' + item.code + '.svg' "
              >
              {{ $t('/language.' + item.code) }}
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <template v-if="$store.state.user.account">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn icon @click="$router.push('/server')" v-on="on">
              <v-icon>
                mdi-hammer-wrench
              </v-icon>
            </v-btn>
          </template>
          {{ $t('#.admin') }}
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            {{ $store.state.user.account }}
            <v-btn icon @click="logout()" v-on="on">
              <v-icon>
                mdi-logout
              </v-icon>
            </v-btn>
          </template>
          {{ $t('#.logout') }}
        </v-tooltip>
      </template>

      <v-tooltip v-else bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon @click="login()" v-on="on">
            <v-icon>
              mdi-login
            </v-icon>
          </v-btn>
        </template>
        {{ $t('#.login') }}
      </v-tooltip>
    </v-app-bar>

    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>

    <v-footer :absolute="true">
      <v-btn elevation="0" @click="$router.push('/copyright')">
        <span style="text-transform: none">
          &copy; {{ copyright }} The CTAN Team
        </span>
      </v-btn>
    </v-footer>
  </v-app>
</template>
//----------------------------------------------------------------------------
<style lang="scss">

.v-application {
  font-family: opensans, sans-serif !important;

  .blade.rounded {
    border-radius: 1.2ex !important;
  }

  .blade.rounded-b {
    border-radius: 0 0 1.2ex 1.2ex !important;
  }

  .blade.rounded-t {
    border-radius: 1.2ex 1.2ex 0 0 !important;
  }
}

.v-main {
  background: #ccc;
}

.blade {
  background-color: #fff;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 20px 0 rgba(0, 0, 0, 0.12) !important;
  margin: 1ex 0;
  min-width: 90%;
  padding: 0 1em;
}

</style>
