/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>
export default {
  layout: 'default',

  props: {
    error: {
      type: Object,
      default: null
    }
  },

  mounted () {
    new Audio('/sounds/249874__reddagger__crash.mp3').play()
  },

  head () {
    return {
      title: this.$t(this.error.statusCode === 404
        ? 'error.err404'
        : 'error.other')
    }
  }
}
</script>
//----------------------------------------------------------------------------
<template>
  <v-app class="error-page">
    <div class="bg">
      <div class="image-copyright">
        {{ $t('#.image.by') }}
        <a href="https://pixabay.com/de/users/PIRO4D-2707530/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2440877">
          PIRO4D
        </a>
        {{ $t('#.image.on') }}
        <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2440877">
          Pixabay
        </a>
      </div>
    </div>

    <v-card class="card ma-8 pa-8">
      <v-card-title class="headline text-center">
        <v-spacer />
        <span v-if="error.statusCode === 404">
          {{ $t('error.err404') }}
        </span>
        <span v-else>
          {{ $t('error.other') }}
        </span>
        <v-spacer />
      </v-card-title>
      <v-card-text class="text-center">
        <v-btn color="primary" to="/" style="opacity:1;">
          {{ $t('#.home') }}
        </v-btn>
      </v-card-text>
    </v-card>
  </v-app>
</template>
//----------------------------------------------------------------------------
<style>

h1 {
  font-size: 20px;
}

.container {
  max-width: 100%;
}

.error-page .bg {
  background: url("/backgrounds/glass-2440877_640.jpg");
  background-size: cover;
  bottom: 0;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.error-page .card {
  opacity: .666;
}

.image-copyright {
  font-size: small;
  bottom: 6ex;
  color: #aaa;
  position: fixed;
  right: 0;
  left: 0;
  text-align: center;
  transform: rotate(0deg);
}

</style>
