/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>

/**
 *
 */
export default {
  props: {
    code: { type: String, default: '' }
  }
}
</script>
// ----------------------------------------------------------------------------
<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on }">
      <img
        :src="'/countries/' + code + '.svg'"
        :alt="code"
        class="country-flag"
        v-on="on"
      >
    </template>
    {{ $t('/country.' + code) }}
  </v-tooltip>
</template>
//----------------------------------------------------------------------------
<style>

.country-flag {
  border: 1pt solid #ddd;
  height: 2ex;
}

</style>
