/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>

/**
 *
 */
export default {
  props: {
    value: { type: String, default: '' },
    large: { type: Boolean, default: false }
  },

  data () {
    return {
      statusColor: {
        '': 'white',
        ACTIVE: 'green',
        INACTIVE: 'red',
        PARTIAL: 'pink',
        MASTER: '#40c1ac',
        WITHDRAWN: 'gray'
      },
      statusIcon: {
        '': '',
        ACTIVE: 'mdi-check-circle',
        INACTIVE: 'mdi-alpha-x-circle',
        PARTIAL: 'mdi-circle-slice-7',
        MASTER: 'mdi-mirror',
        WITHDRAWN: 'mdi-delete-circle'
      }
    }
  }
}
</script>
// ----------------------------------------------------------------------------
<template>
  <v-tooltip v-if="value" bottom>
    <template v-slot:activator="{ on }">
      <v-icon
        :color="statusColor[value]"
        :large="large"
        v-on="on"
      >
        {{ statusIcon[value] }}
      </v-icon>
    </template>
    {{ $t('/status.' + value) }}
  </v-tooltip>
</template>
//----------------------------------------------------------------------------
