/*
 * (c) 2020 The CTAN Team and individual authors
 *
 * This file is distributed under the 3-clause BSD license.
 * See file LICENSE for details.
 */
<script>

export default {
  props: {
    width: { type: String, default: '6em' }
  }
}
</script>
// ----------------------------------------------------------------------------
<template>
  <img
    alt="CTAN Traffic Disposer"
    title="CTAN Traffic Disposer"
    src="/traffic-disposer-logo.svg"
    :style="'max-width: 80%; width: ' + width"
  >
</template>
